
<div style="padding-top: 350px;">
  <p-dataGrid [value]="details">
  <p-header>
      Data Grid
  </p-header>
  <ng-template pTemplate="item">
      <div style="padding-top:3px" *ngFor="let data of details" class="ui-g-12 ui-md-3">
          <p-panel  [style]="{'text-align':'center'}">
              {{data.name}}-{{details.code}}
          </p-panel>
      </div>
  </ng-template>
</p-dataGrid>


<div>
  Misc Inplace
  <p-inplace>
    <span pInplaceDisplay>
      Click to Edit
    </span>
    <span pInplaceContent>
      <input type="text" [(ngModel)]="inplacetext" pInputText>
    </span>
  </p-inplace>
  <br>
</div>

<div>
  p-progressSpinners
  <h3>Basic</h3>
  <p-progressSpinner [style]="{ height: '50px'}"></p-progressSpinner>

  <h3>Custom</h3>
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration="5s"></p-progressSpinner>
  <br>
</div>
<div>
  ProgressBar
  <p-progressBar [value]="value"></p-progressBar>
</div>
</div>