
<div>
  Misc Inplace
  <p-inplace>
    <span pInplaceDisplay>
      Click to Edit
    </span>
    <span pInplaceContent>
      <input type="text" value="PrimeNG" pInputText>
    </span>
  </p-inplace>
  <br>
</div>

<div>
  p-progressSpinners
  <h3>Basic</h3>
  <p-progressSpinner [style]="{ height: '50px'}"></p-progressSpinner>

  <h3>Custom</h3>
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration="5s"></p-progressSpinner>
  <br>
</div>
<div>
  ProgressBar
  <p-progressBar [value]="value"></p-progressBar>
</div>
