<p-steps [model]="steps" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
<ng-content></ng-content>
        <button pButton type="text" *ngIf="activeIndex > 0"
            (click)="previous()" icon="fa-hand-o-left" label="Previous"></button>
        <button pButton type="text" *ngIf="activeIndex < steps.length - 1 && activeIndex < steps.length "
            (click)="next()" icon="fa-hand-o-right" iconPos="right" label="Next"></button>

<p-menu [model]="items"></p-menu>

<p-tabMenu [model]="items1"></p-tabMenu>
