.navbar-fixed{
    height: 100%;
    position: fixed;
    overflow-y: auto;
    
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.btn{
    width: 100px;
    font-size: 15px;
}